* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.country-search-box {
  margin: 1.2rem 0;
  display: flex;
  align-items: stretch;
}
.search-control {
  margin-left: 30%;
  padding: 0 1rem;
  font-size: 1.8rem;
  font-family: inherit;
  outline: 0;
  border: 1px solid rgb(253, 66, 33);
  color: var(--tenne-tawny);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  width: 35%;
}
.search-button {
  width: 55px;
  height: 55px;
  font-size: 1.8rem;
  background: tomato;
  color: #fff;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 0.4s linear;
}
.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.countries {
  display: flex;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 1s;
  min-height: 100vh;
}

.country {
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem black;
  font-size: 1.8rem;
  width: 30rem;
  border-radius: 0.7rem;
  margin: 0 3rem;
  height: 20rem;
}

.neighbour::before {
  content: "Neighbour country";
  width: 100%;
  position: absolute;
  top: -4rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #888;
}

.neighbour {
  transform: scale(0.8) translateY(1rem);
  margin-left: 0;
}

.country__img {
  width: 30rem;
  height: 17rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.country__data {
  padding: 2.5rem 3.75rem 3rem 3.75rem;
}

.country__name {
  font-size: 2.7rem;
  margin-bottom: 0.7rem;
}

.country__region {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  color: #888;
}

.country__row:not(:last-child) {
  margin-bottom: 1rem;
}

.country__row span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2.4rem;
}

.images {
  display: flex;
}

.images img {
  display: block;
  width: 80rem;
  margin: 4rem;
}

.images img.parallel {
  width: 40rem;
  margin: 2rem;
  border: 3rem solid white;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
}
